{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",

    "ADO_ORG": "https://dev.azure.com/your-org",
    "ADO_PROJECT": "YourProjectName",
    "ADO_PAT": "your-personal-access-token-here",

    "OPTIONAL_ALLOWED_PROJECTS": "YourProjectName,AnotherProject",
    "ADO_OVERRIDE_USERS": "engineeringmanager@company.com,em2@company.com"
  }
}
